.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

obj/
app/bin
app/obj
app.tests/bin
app.tests/obj
.fake

web-api/bin
web-api/obj
web-api/.vscode/*
!web-api/.vscode/settings.json
!web-api/.vscode/tasks.json
!web-api/.vscode/launch.json
!web-api/.vscode/extensions.json
!web-api/.vscode/*.code-snippets
web-client/lib/*